@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

header {
  max-width: 140rem;
  margin: 0 auto;
}
header .banner {
  background-image: url(../images/gaming-banner.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .banner .banner-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
header .banner .banner-card .title {
  font-size: 5rem;
  color: white;
}
header .banner .banner-card .sub-title {
  font-size: 3rem;
  color: white;
  text-align: center;
}
header .banner .banner-card .search-box {
  width: 60%;
  position: relative;
}
header .banner .banner-card .search-box #search-image {
  width: 100%;
  border: transparent;
  outline: transparent;
  padding: 0.8rem 1.2rem;
  padding-left: 4rem;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  color: #000439;
}
header .banner .banner-card .search-box .search-icon {
  position: absolute;
  top: 0.8rem;
  left: 1rem;
}
header .banner .banner-card .search-box .search-icon i {
  color: black;
  font-size: 2rem;
}

.gallery {
  margin-top: 2rem;
  padding: 0 2rem;
}
.gallery .gallery-card .gallery-wrap {
  gap: 1.5rem;
  -moz-columns: 5 34rem;
       columns: 5 34rem;
}
.gallery .gallery-card .gallery-wrap .image-item {
  position: relative;
  list-style: none;
  margin-bottom: 1.6rem;
  overflow: hidden;
}
.gallery .gallery-card .gallery-wrap .image-item img {
  width: 100%;
}
.gallery .gallery-card .gallery-wrap .image-item:hover {
  cursor: pointer;
}
.gallery .gallery-card .gallery-wrap .image-item .image-detail {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  width: 100%;
  padding: 1rem;
  bottom: -100%;
  color: white;
  transition: 0.2s ease-in;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}
.gallery .gallery-card .gallery-wrap .image-item .image-detail .download-icon button {
  padding: 0.4rem;
  border-radius: 0.5rem;
  border: transparent;
  outline: transparent;
}
.gallery .gallery-card .gallery-wrap .image-item .image-detail .photographer i {
  font-size: 1.8rem;
}
.gallery .gallery-card .gallery-wrap .image-item:hover .image-detail {
  bottom: 0.5rem;
}
.gallery .button-box {
  width: 14rem;
  margin: 0 auto;
}
.gallery .button-box #load {
  width: 100%;
  padding: 0.8rem 1.2rem;
  background-color: #000439;
  color: white;
  font-size: 1.6rem;
  border-radius: 0.6rem;
  outline: transparent;
  border: transparent;
}
.gallery .button-box #load:hover {
  cursor: pointer;
}
.gallery .button-box .disable {
  opacity: 0.5;
  pointer-events: none;
}

@media only screen and (max-width: 789px) {
  html {
    font-size: 45%;
  }
  header .banner-card .title-box .title {
    font-size: 4rem;
    text-align: center;
  }
  header .banner-card .title-box .sub-title {
    font-size: 2rem;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */